* {
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100%;
}

body {
  position: relative;
}

h1, input {
  margin-left: 1rem;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  background: #212121;  
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.16);
}

a {
  text-decoration: none;
}

button {
  padding: 1rem;
  background: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/* button:hover {
  background: rgba(78, 78, 78, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
} */

header h1 {
  display: inline-block;
  margin: 0;
  padding: 8px;
  color: yellow;
}

.cadastro .input {
  margin: 16px;
}

.select-containers {
  margin-top: 1rem;
}

.select-container {
  display: flex;
  justify-content: center;
}

select {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 90vw;
  font-size: 1rem;
  border: none;
}

select optgroup {
  padding: 12px;
}

select option {
  padding: 10px;
}

.duracao {
  display: inline-block;
}

.container-range {
  width: 100%;
}

.range {
  width: 100px;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
}

.page {
  display: none;
}

.show {
  display: block;
}

/* ------------------------
    Cards
   ------------------------ */

.cards {
  display: flex;
  justify-content: center;
}

.cards .card {
  justify-content: center;
  margin: 1rem;
}

/* ------------------------
    Biblioteca
   ------------------------ */

.box-music {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem;
  margin: 1rem;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3); 
}

.box-music .btn-music button {
  display: none;
}

.box-music .btn-music .active {
  display: block;
}

.box-music .btn-music {
  display: flex;
}

.box-music .options-music {
  justify-self: flex-end;
}

.box-music .name-music p {
  padding: .7rem;
  display: block;
}

.box-music .name-music p:first-child {
  padding-bottom: 0;
}

.options-menu {
  display: none;
  background: none;
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.options-menu button {
  padding: .7rem;
}

.options-menu button:active {  
  background: rgba(0, 0, 0, .05)
}

.box-music .active {
  display: inline-grid;
}

/* ------------------------
    Modal
   ------------------------ */

.modal {
  display: none;
  background: white;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .3);
  position: absolute;
  width: 80%;
  height: auto;
  left: 50%;
  border-radius: 2px;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.modal ul {
  padding: 1rem;
  list-style: none;
}

.modal ul li {
  padding: .5rem;
}

.modal-state {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .6);
}

.active {
  display: block;
}


.modal .close {
  text-align: center;
}

@media (min-width:600px) {
  select {
    width: 35vw;
  }

  .select-containers {
    display: flex;
  }

  .select-containers h1 {
    display: block;
  }
}